<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnectionStringPC" value="User ID=eastipdb;Password=g005e;Data Source=cdncd1;"/>
    <add key="ConnectionStringIPSP" value="User ID=sa;Password=qwer1234!;Data Source=192.168.0.239;Initial Catalog=DBIPS4_Import;"/>
    <add key="Interval" value="300"/>
    <add key="BeginTime" value="00:00"/>
    <add key="SendEmail" value="bs.project@beijingeastip.com"/>
    <add key="SendServer" value="smtp.beijingeastip.com"/>
    <add key="SendUser" value="bs.project@beijingeastip.com"/>
    <add key="SendPassword" value="B@12IT"/>
    <add key="SendTrigger" value="A"/>
    <add key="ReceivedEmail" value="bs.project@beijingeastip.com"/>
    <add key="BeginDate" value="2017/3/7 00:00:00"/>
    <add key="FinishDate" value="2017/3/13 00:00:00"/>
  </appSettings>
</configuration>