<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnectionStringPC" value="User ID=eastipdb;Password=g005e;Data Source=cdncd2;" />
    <add key="ConnectionStringIPSP" value="User ID=sa;Password=qwer1234!;Data Source=192.168.0.239;Initial Catalog=DBIPSP_Import;" />
    <add key="Interval" value="1" />
    <add key="BeginTime" value="00:5" />
    <add key="SendEmail" value="bs.project@beijingeastip.com" />
    <add key="SendServer" value="smtp.beijingeastip.com" />
    <add key="SendUser" value="bs.project@beijingeastip.com" />
    <add key="SendPassword" value="B@12IT" />
    <add key="SendTrigger" value="A" />
    <add key="ReceivedEmail" value="bs.project@beijingeastip.com;wenjing.su@beijingeastip.com;ge.gao@beijingeastip.com" />
    <add key="ReceivedMessageUser" value="夏猛;苏文静;高歌" />
    <add key="BeginDate" value="2017/6/15 7:00:00" />
    <add key="FinishDate" value="2017/6/15 23:30:00" />
    <add key="SourceFilePath" value="\\192.168.0.215\IPS_Data\files" />
    <add key="TargetFilePath" value="\\public\IPS-PTFILE" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>